<template name='appLayout'>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="box">
        <ul class="nav nav-tabs nav-justified">
          <li class="{{isActivePath 'home'}}">
            <a href="{{pathFor 'home'}}">Home</a>
          </li>
          <li class="{{isActivePath 'billing'}}">
            <a href="{{pathFor 'billing'}}">Billing</a>
          </li>
        </ul>
        {{> _errors}}
        {{> yield}}
      </div>
    </div>
  </div>
</div>
</template>
