body {
  background-color: #ddd;
  font-family: 'Raleway', sans-serif;
}

.box {
  margin-top: 50px;
  padding: 30px;
  border: 2px solid #bbb;
  border-radius: 0;
  background-color: #fff;
}

.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
}
